.rooms {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100svh;
  padding: 24px 0;

  overflow: hidden;

  background-image: url("../../../img/svg/background-mobile-tablet.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include vp-768 {
    padding: 27px 0;
  }

  @include vp-1280 {
    align-items: center;
    min-height: 100vh;
    padding: 47px 0 40px;

    background-image: url("../../../img/svg/background-desk.svg");
    background-position: calc(50% - 20px) center;
  }
}

.rooms__title {
  margin: 0 0 24px;

  font-family: $roboto;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: $color-title;
  text-transform: uppercase;

  @include vp-768 {
    margin: 0 0 26px;

    font-weight: 500;
    font-size: 36px;
    line-height: 1.52;
  }
}

.rooms__cards-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 32px;

  @include vp-768 {
    gap: 37px 28px;
  }

  @include vp-1280 {
    gap: 32px;
  }
}

.rooms__card-item {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 288px;
  height: auto;

  @include vp-768 {
    max-width: 336px;
  }

  @include vp-1280 {
    max-width: 372px;
  }
}
