// Project colors

$color-title: #000000;
$color-main: #ffffff;
$color-btn: #f91155;
$color-btn-active: #d8003f;
$color-highlight: #ff4b77;
$color-btn-pressed: #f9637c;
$color-link-pressed: #ff97b0;
$color-price: #999999;
$color-line: rgba(255, 255, 255, 0.2);
$color-bg-img: #2d507c;
$color-gray: #3c3e43;
$color-badge: #ff7647;
$color-background: rgba(170, 203, 240, 0.34);

// Typography

$fz-default: 16px;

// Viewports

$vp-320: 320px;
$vp-768: 768px;
$vp-1280: 1280px;
